      <br>
      <h1 class="text-center">Chào mừng các bạn đã đén với Mùa Đông Không Lạnh</h1>
      <br>
      <h3 class="text-center">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân "</h3>
      <br>
      <div class="h-200px d-flex justify-content-around">
        <div class="bg-img-fm d-flex justify-content-end align-items-center col-md-5">
          <h2 class=""> <a class="text-light" href="{{ url_for('all_services',service_gender = 0)}}">Bạn là nam</a> </h2>


        </div>
        <div class="bg-img-m  col-md-5 align-items-center d-flex">
          <h2 class=""> <a class="text-light"href="{{ url_for('all_services', service_gender = 1)}}">Bạn là nữ</a> </h2>


        </div>

      </div>
      <br>
