<div class="h-600px bg-img-night d-flex flex-column align-items-center">
  <h2 class="text-light text-center ">Khách hàng bình chọn</h2>
  <br>
  <div class="h-75 d-flex flex-wrap justify-content-between align-items-center col-md-10">
    <div class="col-md-3 bg-img-1 bg-size-100 h-25 d-flex justify-content-center">

    </div>
    <div class="col-md-3 bg-img-2 bg-size-100 h-25 d-flex justify-content-center">

    </div>
    <div class="col-md-3 bg-img-3 bg-size-100 h-25 d-flex justify-content-center">

    </div>
    <div class="col-md-3 bg-img-4 bg-size-100 h-25 d-flex justify-content-center">

    </div>
    <div class="col-md-3 bg-img-5 bg-size-100 h-25 d-flex justify-content-center">

    </div>
    <div class="col-md-3 bg-img-6 bg-size-100 h-25 d-flex justify-content-center">

    </div>


  </div>



</div>
<br>
