<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Question 1 :</h1>
      <h3>Of course: never gonna be duplicated between any ids because this id field is a distinction of document :VV help us to see the different between this document and another document</h3>
      <h3>Sub : Tất nhiên là n sẽ k giống nhau, cái id field này giúp mình phân biệt các cái document khác nếu mà cái thông tin khác bị trùng nhau như là name address ,...</h3>
    <h1>Question 2: </h1>
      <h3>Use class.objects(id = '.....balbala........'), for example:</h3>
      <img src="../static/Untitled.png" alt="chưa hiện thôi">
    <h1>Question 3:</h1>
    <h3>use: class.object(id = "..........").delete(), for example:</h3>
    <h3>Service.object(id = "123456789").delete()</h3>

  </body>
</html>
