<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Connect to us</h1>
    <h2>Loggin</h2>
    <form method="post">
      <label>Username:</label>
      <input type="text" name="username" value="">
      <br>
      <label>Password:</label>
      <input type="password" name="password" value="">
      <br>
      <input type="submit">

    </form>
    <h2>  <a href="{{url_for('sign_up')}}">Sign up</a> </h2>

  </body>
</html>
