<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Warm winter Account</h1>
    <form method="post">
      <label>Your full name:</label>
      <input type="text" name="fullname" value="">
      <br>
      <label>Your Email:</label>
      <input type="email" name="email" value="">
      <br>
      <label>Your Username:</label>
      <input type="text" name="username" value="">
      <br>
      <input type="submit">

    </form>

  </body>
</html>
